<!doctype html>
<html lang="登录界面">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="" method="post" >
    <p>账号：<input type="text" name="u" placeholder="请在此输入账号"></p>
    <p>密码：<input type="password" name="p" placeholder="请在此输入密码"></p>
    <p>验证码:<input type="text" name="code"></p>
    <input type="checkbox" name="check">
    <p><img src="../include/auth_code/code1.php")" alt="" onclick="JavaScript:this.src=this.src+'?'+Math.random()"></p>
    <p>密码：<input type="submit" value="登录"></p>



</form>
</body>
</html>
